.modal__info{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    &__content{
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 500px;
        width: 100%;
        z-index: 11;
        &__tittle{
            text-decoration: underline;
            margin-bottom: .5rem;
        }
        &__p{
            line-height: 1.5rem;
        }
        &__button{
            margin-top: .5rem;
            width: auto;
            height: auto;
            background-color: transparent;
            border: 0;
            &__close{
                background-color: transparent;
                border: 0;
                margin: 0 auto;
                width: 2rem;
                height: 2rem;
            }
        }
    }

}