.random__images{


     &__button{
        
         display: block;
         margin: 1.25rem auto;
         padding: .625rem 1.25rem;
         background-color: #AFAFDC;
         color: white;
         border: none;
         border-radius: .3125rem;
         cursor: pointer;
         font-size: 1rem;
         outline: 2px solid white ;   
          
     }  
     &__button:hover {
         background-color: #0056b3;
      }
          
     }
    
    @media screen and (min-width: 1000px) {
        .random__images {

          width: 98%;
          margin-left: 1%;
            display: flex;
            gap: 1rem; 
          }
          
          .random__images__column {
            display: flex;
            flex-direction: column;
          }}