@import './header.scss';
@import './imageCard.scss';
@import './imageCardDescription.scss';
@import './commentModal.scss';
@import './infoModal.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-width: 320px;
    text-align: center;
    background-color: lightgray;
  }

