.header {
  outline: 2px solid white;
  z-index: 2;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #AFAFDC;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.header__center {
  transform: translate(0%, 100%);
}
.header__center__search {
  border: none;
  background: transparent;
  outline: 2px solid white;
  font-size: 1rem;
  color: white;
  padding: 5px 10px;
  width: 100%;
}
.header__center__search::placeholder {
  color: white;
}
.header__left__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: inherit;
}
.header__left__link__img {
  width: 2rem;
  height: auto;
}
.header__left__link:hover {
  color: #555;
  text-decoration: underline;
}
.header__right__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: inherit;
}
.header__right__link__img {
  width: 2rem;
  height: auto;
}
.header__right__link:hover {
  color: #555;
  text-decoration: underline;
}

.profile-link {
  display: block;
  width: 30px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.search__results__image {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.search__results__image__card {
  outline: 2px solid white;
}
.search__results__image__card__photo {
  width: 100%;
  display: block;
}
.search__results__image__bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.search__results__image__bar__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.search__results__image__bar__buttons__favorite, .search__results__image__bar__buttons__download, .search__results__image__bar__buttons__comment, .search__results__image__bar__buttons__info {
  cursor: pointer;
  width: 1.875rem;
  height: 1.875rem;
}

@media screen and (min-width: 1000px) {
  .search__results__image {
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .search__results__image__card {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    display: block;
    height: auto;
    outline: 1px solid white;
  }
  .search__results__image__card__photo {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .search__results__image__bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: -1.5rem;
  }
  .search__results__image__bar__buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .search__results__image__bar__buttons__favorite, .search__results__image__bar__buttons__download, .search__results__image__bar__buttons__comment, .search__results__image__bar__buttons__info {
    cursor: pointer;
    font-size: 24px;
  }
}
@media screen and (min-width: 1000px) {
  .random__images {
    width: 98%;
    margin-left: 1%;
    display: flex;
    gap: 1rem;
  }
  .random__images__column {
    display: flex;
    flex-direction: column;
  }
}
.comment__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.comment__modal__content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  z-index: 11;
}
.comment__modal__content__tittle {
  text-decoration: underline;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.comment__modal__content__box {
  width: 80%;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
}
.comment__modal__content__buttons {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  border: 0;
}
.comment__modal__content__buttons__save {
  background-color: transparent;
  border: 0;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
}
.comment__modal__content__buttons__close {
  border: 0;
  background-color: transparent;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
}

.modal__info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal__info__content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  z-index: 11;
}
.modal__info__content__tittle {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}
.modal__info__content__p {
  line-height: 1.5rem;
}
.modal__info__content__button {
  margin-top: 0.5rem;
  width: auto;
  height: auto;
  background-color: transparent;
  border: 0;
}
.modal__info__content__button__close {
  background-color: transparent;
  border: 0;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
}

.filter__order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.filter__order__tittle {
  text-decoration: underline;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  color: #1A1A1A;
  text-transform: capitalize;
}
.filter__order__select {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  align-items: center;
  background-color: #aaa;
}
.filter__order__select::placeholder {
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  text-align: center;
  background-color: lightgray;
  background-image: radial-gradient(white 10%, transparent 11%);
  background-size: 10px 10px;
}

/*# sourceMappingURL=style.css.map */
