@use './header.scss';
@use './imageCard.scss';
@use './random_images.scss';
@use './imageCardDescription.scss';
@use './commentModal.scss';
@use './infoModal.scss';
@use './filter.scss'; 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-width: 320px;
    text-align: center;
    background-color: lightgray;
    background-image: radial-gradient(white 10%, transparent 11%);
    background-size: 10px 10px;
  }


